# Framework com Arvore de Decisao Fidus

## Objetivo do Projeto

In [876]:
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import datetime, timedelta, date
import warnings

In [877]:
symbol = 'GC=F'
start_date = "2025-11-01"
end_date = "2025-12-15"

df = yf.download(symbol, start=start_date, end=end_date, interval='15m')

print(df.head())

df.to_csv(f"{symbol}_data.csv")
print(f"Data Saved to {symbol}_data.csv")

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_42700\2035634687.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start=start_date, end=end_date, interval='15m')
[*********************100%***********************]  1 of 1 completed

Price                            Close         High          Low         Open  \
Ticker                            GC=F         GC=F         GC=F         GC=F
Datetime
2025-11-02 23:00:00+00:00  4006.199951  4006.500000  4001.800049  4001.899902
2025-11-02 23:15:00+00:00  4004.899902  4009.000000  3998.000000  4006.399902
2025-11-02 23:30:00+00:00  3989.000000  4006.000000  3988.100098  4004.600098
2025-11-02 23:45:00+00:00  3989.699951  3995.800049  3988.100098  3990.000000
2025-11-03 00:00:00+00:00  3978.199951  3998.300049  3976.000000  3990.000000

Price                     Volume
Ticker                      GC=F
Datetime
2025-11-02 23:00:00+00:00    221
2025-11-02 23:15:00+00:00   1767
2025-11-02 23:30:00+00:00   1905
2025-11-02 23:45:00+00:00   1678
2025-11-03 00:00:00+00:00   4008
Data Saved to GC=F_data.csv

In [878]:
df_xau = pd.read_csv("data2/XAU_15m_data.csv", delimiter = ';')

In [879]:
df_xau.shape

(487977, 6)

In [880]:
df_xau.head()

               Date   Open   High    Low  Close  Volume
0  2004.06.11 07:15  384.0  384.3  383.8  384.3      12
1  2004.06.11 07:30  383.8  384.3  383.6  383.8      12
2  2004.06.11 07:45  383.3  383.8  383.3  383.8      20
3  2004.06.11 08:00  383.8  384.1  383.6  383.6       8
4  2004.06.11 08:15  383.6  384.3  383.5  383.5      20

In [881]:
df_xau.describe()

,Open,High,Low,Close,Volume
count,487977.000000,487977.000000,487977.000000,487977.000000,487977.000000
mean,1388.641673,1389.551573,1387.710953,1388.644047,865.532476
std,590.079041,590.457073,589.692083,590.088670,1032.755293
min,381.300000,381.600000,381.100000,381.300000,1.000000
25%,1077.560000,1078.240000,1076.910000,1077.570000,190.000000
50%,1299.340000,1300.020000,1298.710000,1299.340000,617.000000
75%,1741.150000,1742.350000,1739.870000,1741.140000,1165.000000
max,4254.980000,4256.340000,4245.900000,4255.040000,35966.000000

In [882]:
df_xau = df_xau.drop([0 , 1]) # remover indice 0 e 1

In [883]:
df_xau.head()

               Date   Open   High    Low  Close  Volume
2  2004.06.11 07:45  383.3  383.8  383.3  383.8      20
3  2004.06.11 08:00  383.8  384.1  383.6  383.6       8
4  2004.06.11 08:15  383.6  384.3  383.5  383.5      20
5  2004.06.11 08:30  383.3  383.5  383.3  383.5       7
6  2004.06.11 08:45  383.3  383.3  383.1  383.1       6

In [884]:
df_xau = df_xau.reset_index()

In [885]:
df_xau[['Close', 'High', 'Low', 'Open']] = df_xau[['Close', 'High', 'Low', 'Open']].astype(float)
df_xau[['Close', 'High', 'Low', 'Open']] = df_xau[['Close', 'High', 'Low', 'Open']].round(2)

In [886]:
df_xau.dtypes

index       int64
Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [887]:
df_xau.head()

   index              Date   Open   High    Low  Close  Volume
0      2  2004.06.11 07:45  383.3  383.8  383.3  383.8      20
1      3  2004.06.11 08:00  383.8  384.1  383.6  383.6       8
2      4  2004.06.11 08:15  383.6  384.3  383.5  383.5      20
3      5  2004.06.11 08:30  383.3  383.5  383.3  383.5       7
4      6  2004.06.11 08:45  383.3  383.3  383.1  383.1       6

In [888]:
df_xau = df_xau.rename(columns={'Price': 'Date'})

In [889]:
df_xau.head()

   index              Date   Open   High    Low  Close  Volume
0      2  2004.06.11 07:45  383.3  383.8  383.3  383.8      20
1      3  2004.06.11 08:00  383.8  384.1  383.6  383.6       8
2      4  2004.06.11 08:15  383.6  384.3  383.5  383.5      20
3      5  2004.06.11 08:30  383.3  383.5  383.3  383.5       7
4      6  2004.06.11 08:45  383.3  383.3  383.1  383.1       6

In [890]:
df_xau['Date'] = pd.to_datetime(df_xau['Date'])

In [891]:
df_xau.head()

   index                Date   Open   High    Low  Close  Volume
0      2 2004-06-11 07:45:00  383.3  383.8  383.3  383.8      20
1      3 2004-06-11 08:00:00  383.8  384.1  383.6  383.6       8
2      4 2004-06-11 08:15:00  383.6  384.3  383.5  383.5      20
3      5 2004-06-11 08:30:00  383.3  383.5  383.3  383.5       7
4      6 2004-06-11 08:45:00  383.3  383.3  383.1  383.1       6

In [892]:
df_xau.head()

   index                Date   Open   High    Low  Close  Volume
0      2 2004-06-11 07:45:00  383.3  383.8  383.3  383.8      20
1      3 2004-06-11 08:00:00  383.8  384.1  383.6  383.6       8
2      4 2004-06-11 08:15:00  383.6  384.3  383.5  383.5      20
3      5 2004-06-11 08:30:00  383.3  383.5  383.3  383.5       7
4      6 2004-06-11 08:45:00  383.3  383.3  383.1  383.1       6

In [893]:
df_xau['Variacao'] = df_xau['Close'].diff()

In [894]:
df_xau.head()

   index                Date   Open   High    Low  Close  Volume  Variacao
0      2 2004-06-11 07:45:00  383.3  383.8  383.3  383.8      20       NaN
1      3 2004-06-11 08:00:00  383.8  384.1  383.6  383.6       8      -0.2
2      4 2004-06-11 08:15:00  383.6  384.3  383.5  383.5      20      -0.1
3      5 2004-06-11 08:30:00  383.3  383.5  383.3  383.5       7       0.0
4      6 2004-06-11 08:45:00  383.3  383.3  383.1  383.1       6      -0.4

In [895]:
df_xau['Ganhos'] = df_xau['Variacao'].clip(lower=0)
df_xau['Perdas'] = df_xau['Variacao'].clip(upper=0).abs()

In [896]:
df_xau = df_xau.drop('index', axis=1)

In [897]:
df_xau['Media_Ganhos'] = df_xau['Ganhos'].rolling(14).mean()
df_xau['Media_Perdas'] = df_xau['Perdas'].rolling(14).mean()

In [898]:
df_xau.head()

,Date,Open,High,Low,Close,Volume,Variacao,Ganhos,Perdas,Media_Ganhos,Media_Perdas
0,2004-06-11 07:45:00,383.3,383.8,383.3,383.8,20,NaN,NaN,NaN,NaN,NaN
1,2004-06-11 08:00:00,383.8,384.1,383.6,383.6,8,-0.2,0.0,0.2,NaN,NaN
2,2004-06-11 08:15:00,383.6,384.3,383.5,383.5,20,-0.1,0.0,0.1,NaN,NaN
3,2004-06-11 08:30:00,383.3,383.5,383.3,383.5,7,0.0,0.0,0.0,NaN,NaN
4,2004-06-11 08:45:00,383.3,383.3,383.1,383.1,6,-0.4,0.0,0.4,NaN,NaN

In [899]:
df_xau['RSI'] = 100 - (100 / (1 + df_xau['Media_Ganhos'] / df_xau['Media_Perdas']))

In [900]:
df_xau['Low_9'] = df_xau['Low'].rolling(9).min()
df_xau['High_9'] = df_xau['High'].rolling(9).max()

In [901]:
df_xau['Stoch_K']= (((df_xau['Close'] - df_xau['Low_9']) / (df_xau['High_9'] - df_xau['Low_9']))) * 100

In [902]:
df_xau['K_suavizado'] = df_xau['Stoch_K'].rolling(3).mean()

In [903]:
df_xau['Stoch_D'] = df_xau['K_suavizado'].rolling(3).mean()

In [904]:
df_xau = df_xau.drop(['Low_9', 'High_9'], axis=1)

In [905]:
df_xau['EMA_12'] = df_xau['Close'].ewm(span=12).mean()
df_xau['EMA_26'] = df_xau['Close'].ewm(span=26).mean()

In [906]:
df_xau['MACD'] = df_xau['EMA_12'] - df_xau['EMA_26']

In [907]:
df_xau['MACD_Sinal'] = df_xau['MACD'].ewm(span=9).mean()

In [908]:
df_xau['hist'] = df_xau['MACD'] - df_xau['MACD_Sinal']

In [909]:
df_xau.head()

,Date,Open,High,Low,Close,Volume,Variacao,Ganhos,Perdas,Media_Ganhos,Media_Perdas,RSI,Stoch_K,K_suavizado,Stoch_D,EMA_12,EMA_26,MACD,MACD_Sinal,hist
0,2004-06-11 07:45:00,383.3,383.8,383.3,383.8,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,383.800000,383.800000,0.000000,0.000000,0.000000
1,2004-06-11 08:00:00,383.8,384.1,383.6,383.6,8,-0.2,0.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,383.691667,383.696154,-0.004487,-0.002493,-0.001994
2,2004-06-11 08:15:00,383.6,384.3,383.5,383.5,20,-0.1,0.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,383.616859,383.625678,-0.008819,-0.005085,-0.003733
3,2004-06-11 08:30:00,383.3,383.5,383.3,383.5,7,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,383.579971,383.590544,-0.010572,-0.006944,-0.003628
4,2004-06-11 08:45:00,383.3,383.3,383.1,383.1,6,-0.4,0.0,0.4,NaN,NaN,NaN,NaN,NaN,NaN,383.449565,383.476785,-0.027220,-0.012976,-0.014244

In [910]:
df_xau['BB_media'] = df_xau['Close'].rolling(20).mean()
df_xau['BB_std'] = df_xau['Close'].rolling(20).std()

In [911]:
df_xau['BB_Superior'] = df_xau['BB_media'] + (2 * (df_xau['BB_std']))
df_xau['BB_Inferior'] = df_xau['BB_media'] - (2 * (df_xau['BB_std']))

In [912]:
df_xau.head()

,Date,Open,High,Low,Close,Volume,Variacao,Ganhos,Perdas,Media_Ganhos,...,Stoch_D,EMA_12,EMA_26,MACD,MACD_Sinal,hist,BB_media,BB_std,BB_Superior,BB_Inferior
0,2004-06-11 07:45:00,383.3,383.8,383.3,383.8,20,NaN,NaN,NaN,NaN,...,NaN,383.800000,383.800000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
1,2004-06-11 08:00:00,383.8,384.1,383.6,383.6,8,-0.2,0.0,0.2,NaN,...,NaN,383.691667,383.696154,-0.004487,-0.002493,-0.001994,NaN,NaN,NaN,NaN
2,2004-06-11 08:15:00,383.6,384.3,383.5,383.5,20,-0.1,0.0,0.1,NaN,...,NaN,383.616859,383.625678,-0.008819,-0.005085,-0.003733,NaN,NaN,NaN,NaN
3,2004-06-11 08:30:00,383.3,383.5,383.3,383.5,7,0.0,0.0,0.0,NaN,...,NaN,383.579971,383.590544,-0.010572,-0.006944,-0.003628,NaN,NaN,NaN,NaN
4,2004-06-11 08:45:00,383.3,383.3,383.1,383.1,6,-0.4,0.0,0.4,NaN,...,NaN,383.449565,383.476785,-0.027220,-0.012976,-0.014244,NaN,NaN,NaN,NaN

In [913]:
df_xau['Dist_Sup'] = df_xau['Close'] - 3800
df_xau['Dist_Res'] = df_xau['Close'] - 4200

In [914]:
df_xau.head()

,Date,Open,High,Low,Close,Volume,Variacao,Ganhos,Perdas,Media_Ganhos,...,EMA_26,MACD,MACD_Sinal,hist,BB_media,BB_std,BB_Superior,BB_Inferior,Dist_Sup,Dist_Res
0,2004-06-11 07:45:00,383.3,383.8,383.3,383.8,20,NaN,NaN,NaN,NaN,...,383.800000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,-3416.2,-3816.2
1,2004-06-11 08:00:00,383.8,384.1,383.6,383.6,8,-0.2,0.0,0.2,NaN,...,383.696154,-0.004487,-0.002493,-0.001994,NaN,NaN,NaN,NaN,-3416.4,-3816.4
2,2004-06-11 08:15:00,383.6,384.3,383.5,383.5,20,-0.1,0.0,0.1,NaN,...,383.625678,-0.008819,-0.005085,-0.003733,NaN,NaN,NaN,NaN,-3416.5,-3816.5
3,2004-06-11 08:30:00,383.3,383.5,383.3,383.5,7,0.0,0.0,0.0,NaN,...,383.590544,-0.010572,-0.006944,-0.003628,NaN,NaN,NaN,NaN,-3416.5,-3816.5
4,2004-06-11 08:45:00,383.3,383.3,383.1,383.1,6,-0.4,0.0,0.4,NaN,...,383.476785,-0.027220,-0.012976,-0.014244,NaN,NaN,NaN,NaN,-3416.9,-3816.9

In [915]:
df_xau['High_anterior'] = df_xau['High'].shift(1).rolling(3).max()
df_xau['H1'] = df_xau['High'].shift(-1)
df_xau['H2'] = df_xau['High'].shift(-2)
df_xau['H3'] = df_xau['High'].shift(-3)
df_xau['High_posterior'] = df_xau[['H1', 'H2', 'H3']].max(axis=1)

In [916]:

df_xau['Low_anterior'] = df_xau['Low'].shift(1).rolling(3).min()
df_xau['L1'] = df_xau['Low'].shift(-1)
df_xau['L2'] = df_xau['Low'].shift(-2)
df_xau['L3'] = df_xau['Low'].shift(-3)
df_xau['Lower_posterior'] = df_xau[['L1', 'L2', 'L3']].min(axis=1)

In [917]:
df_xau['Swing_high'] = (df_xau['High'] > df_xau['High_anterior']) & (df_xau['High'] > df_xau['High_posterior'])
df_xau['Swing_low'] = (df_xau['Low'] < df_xau['Low_anterior']) & (df_xau['Low'] < df_xau['Lower_posterior'])

In [918]:
df_xau.head()

,Date,Open,High,Low,Close,Volume,Variacao,Ganhos,Perdas,Media_Ganhos,...,H2,H3,High_posterior,Low_anterior,L1,L2,L3,Lower_posterior,Swing_high,Swing_low
0,2004-06-11 07:45:00,383.3,383.8,383.3,383.8,20,NaN,NaN,NaN,NaN,...,384.3,383.5,384.3,NaN,383.6,383.5,383.3,383.3,False,False
1,2004-06-11 08:00:00,383.8,384.1,383.6,383.6,8,-0.2,0.0,0.2,NaN,...,383.5,383.3,384.3,NaN,383.5,383.3,383.1,383.1,False,False
2,2004-06-11 08:15:00,383.6,384.3,383.5,383.5,20,-0.1,0.0,0.1,NaN,...,383.3,384.1,384.1,NaN,383.3,383.1,383.1,383.1,False,False
3,2004-06-11 08:30:00,383.3,383.5,383.3,383.5,7,0.0,0.0,0.0,NaN,...,384.1,384.0,384.1,383.3,383.1,383.1,382.8,382.8,False,False
4,2004-06-11 08:45:00,383.3,383.3,383.1,383.1,6,-0.4,0.0,0.4,NaN,...,384.0,383.3,384.1,383.3,383.1,382.8,382.8,382.8,False,False

In [919]:
df_xau['Target'] = np.select([df_xau['Swing_high'], df_xau['Swing_low']],['High', 'Low'], default=None)

In [920]:
df_xau['Target'].value_counts()

Target
High    43993
Low     43508
Name: count, dtype: int64

In [921]:
df2 = df_xau.drop(['Media_Ganhos', 
                      'Media_Perdas',
                      'H1', 'H2', 'H3', 
                      'L1', 'L2', 'L3', 
                      'Variacao', 
                      'Ganhos', 'Perdas',
                      'EMA_12', 'EMA_26',
                      'BB_std', 'Stoch_K',
                      'High_anterior', 'High_posterior',
                      'Low_anterior', 'Lower_posterior',
                      'Swing_high', 'Swing_low'], axis=1)

In [922]:
df2.head()

,Date,Open,High,Low,Close,Volume,RSI,K_suavizado,Stoch_D,MACD,MACD_Sinal,hist,BB_media,BB_Superior,BB_Inferior,Dist_Sup,Dist_Res,Target
0,2004-06-11 07:45:00,383.3,383.8,383.3,383.8,20,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,-3416.2,-3816.2,None
1,2004-06-11 08:00:00,383.8,384.1,383.6,383.6,8,NaN,NaN,NaN,-0.004487,-0.002493,-0.001994,NaN,NaN,NaN,-3416.4,-3816.4,None
2,2004-06-11 08:15:00,383.6,384.3,383.5,383.5,20,NaN,NaN,NaN,-0.008819,-0.005085,-0.003733,NaN,NaN,NaN,-3416.5,-3816.5,None
3,2004-06-11 08:30:00,383.3,383.5,383.3,383.5,7,NaN,NaN,NaN,-0.010572,-0.006944,-0.003628,NaN,NaN,NaN,-3416.5,-3816.5,None
4,2004-06-11 08:45:00,383.3,383.3,383.1,383.1,6,NaN,NaN,NaN,-0.027220,-0.012976,-0.014244,NaN,NaN,NaN,-3416.9,-3816.9,None

In [923]:
df2.isna().sum()

Date                0
Open                0
High                0
Low                 0
Close               0
Volume              0
RSI                27
K_suavizado        21
Stoch_D            27
MACD                0
MACD_Sinal          0
hist                0
BB_media           19
BB_Superior        19
BB_Inferior        19
Dist_Sup            0
Dist_Res            0
Target         400474
dtype: int64

In [924]:
df2['Target'] = df2['Target'].fillna('none')

In [925]:
df2 = df2.dropna()

In [926]:
df2.head()

,Date,Open,High,Low,Close,Volume,RSI,K_suavizado,Stoch_D,MACD,MACD_Sinal,hist,BB_media,BB_Superior,BB_Inferior,Dist_Sup,Dist_Res,Target
19,2004-06-11 12:30:00,383.6,383.6,383.6,383.6,4,50.000000,29.292929,50.404040,0.035595,0.024366,0.011229,383.490,383.957468,383.022532,-3416.4,-3816.4,none
20,2004-06-11 12:45:00,383.8,383.8,383.3,383.3,4,66.666667,11.111111,30.269360,0.015348,0.022545,-0.007197,383.465,383.915847,383.014153,-3416.7,-3816.7,Low
21,2004-06-11 13:00:00,383.6,383.6,383.6,383.6,3,75.000000,18.055556,19.486532,0.019613,0.021955,-0.002342,383.465,383.915847,383.014153,-3416.4,-3816.4,none
22,2004-06-11 13:15:00,383.8,383.8,383.6,383.8,4,76.923077,33.333333,20.833333,0.036275,0.024836,0.011440,383.480,383.955062,383.004938,-3416.2,-3816.2,none
23,2004-06-11 13:30:00,383.6,384.3,383.6,384.3,4,76.923077,66.666667,39.351852,0.083162,0.036556,0.046606,383.520,384.120351,382.919649,-3415.7,-3815.7,none

In [927]:
df2['Target'].value_counts()

Target
none    400434
High     43991
Low      43507
Name: count, dtype: int64

In [928]:
df2.shape

(487932, 18)

In [929]:
x = df2[['RSI', 'K_suavizado', 'Stoch_D',
         'MACD', 'MACD_Sinal', 'hist', 'BB_media', 'BB_Superior', 
         'BB_Inferior', 'Dist_Sup', 'Dist_Res']]

y = df2['Target']

In [930]:
from sklearn.model_selection import train_test_split

x_train1, x_test1, y_train1, y_test1 = train_test_split(x, y, test_size= 0.30)

In [931]:
from sklearn.tree import DecisionTreeClassifier

mod_arvore1 = DecisionTreeClassifier(class_weight='balanced', max_depth=4)
mod_arvore1.fit(x_train1, y_train1)

DecisionTreeClassifier(class_weight='balanced', max_depth=4)

In [932]:
y_pred_test1 = mod_arvore1.predict(x_test1)

In [933]:
from sklearn.metrics import classification_report, confusion_matrix
import sklearn.metrics as metrics

print(confusion_matrix(y_test1, y_pred_test1))
print()
print("-------------------------------------------------")
print()
print(classification_report(y_test1, y_pred_test1))

[[10436  2616   279]
 [ 2743 10261   145]
 [59830 56708  3362]]

-------------------------------------------------

              precision    recall  f1-score   support

        High       0.14      0.78      0.24     13331
         Low       0.15      0.78      0.25     13149
        none       0.89      0.03      0.05    119900

    accuracy                           0.16    146380
   macro avg       0.39      0.53      0.18    146380
weighted avg       0.75      0.16      0.09    146380

In [934]:
df3 = df2

In [935]:
df3['Target'] = ((df3['Close'].shift(-8) - df3['Close']) / (df3['Close']) * 100)

In [936]:
df3.head()

,Date,Open,High,Low,Close,Volume,RSI,K_suavizado,Stoch_D,MACD,MACD_Sinal,hist,BB_media,BB_Superior,BB_Inferior,Dist_Sup,Dist_Res,Target
19,2004-06-11 12:30:00,383.6,383.6,383.6,383.6,4,50.000000,29.292929,50.404040,0.035595,0.024366,0.011229,383.490,383.957468,383.022532,-3416.4,-3816.4,0.052138
20,2004-06-11 12:45:00,383.8,383.8,383.3,383.3,4,66.666667,11.111111,30.269360,0.015348,0.022545,-0.007197,383.465,383.915847,383.014153,-3416.7,-3816.7,0.260892
21,2004-06-11 13:00:00,383.6,383.6,383.6,383.6,3,75.000000,18.055556,19.486532,0.019613,0.021955,-0.002342,383.465,383.915847,383.014153,-3416.4,-3816.4,0.130344
22,2004-06-11 13:15:00,383.8,383.8,383.6,383.8,4,76.923077,33.333333,20.833333,0.036275,0.024836,0.011440,383.480,383.955062,383.004938,-3416.2,-3816.2,0.208442
23,2004-06-11 13:30:00,383.6,384.3,383.6,384.3,4,76.923077,66.666667,39.351852,0.083162,0.036556,0.046606,383.520,384.120351,382.919649,-3415.7,-3815.7,0.000000

In [937]:
df3.head(20)

,Date,Open,High,Low,Close,Volume,RSI,K_suavizado,Stoch_D,MACD,MACD_Sinal,hist,BB_media,BB_Superior,BB_Inferior,Dist_Sup,Dist_Res,Target
19,2004-06-11 12:30:00,383.6,383.6,383.6,383.6,4,50.000000,29.292929,50.404040,0.035595,0.024366,0.011229,383.490,383.957468,383.022532,-3416.4,-3816.4,0.052138
20,2004-06-11 12:45:00,383.8,383.8,383.3,383.3,4,66.666667,11.111111,30.269360,0.015348,0.022545,-0.007197,383.465,383.915847,383.014153,-3416.7,-3816.7,0.260892
21,2004-06-11 13:00:00,383.6,383.6,383.6,383.6,3,75.000000,18.055556,19.486532,0.019613,0.021955,-0.002342,383.465,383.915847,383.014153,-3416.4,-3816.4,0.130344
22,2004-06-11 13:15:00,383.8,383.8,383.6,383.8,4,76.923077,33.333333,20.833333,0.036275,0.024836,0.011440,383.480,383.955062,383.004938,-3416.2,-3816.2,0.208442
23,2004-06-11 13:30:00,383.6,384.3,383.6,384.3,4,76.923077,66.666667,39.351852,0.083162,0.036556,0.046606,383.520,384.120351,382.919649,-3415.7,-3815.7,0.000000
24,2004-06-11 13:45:00,384.1,384.3,384.0,384.0,4,62.500000,77.500000,59.166667,0.097793,0.048850,0.048943,383.565,384.167713,382.962287,-3416.0,-3816.0,0.156250
25,2004-06-11 14:30:00,383.8,383.8,383.8,383.8,2,55.555556,73.333333,72.500000,0.093994,0.057906,0.036087,383.575,384.186727,382.963273,-3416.2,-3816.2,0.130276
26,2004-06-11 14:45:00,383.8,383.8,383.8,383.8,2,55.555556,56.666667,69.166667,0.089935,0.064328,0.025607,383.615,384.170451,383.059549,-3416.2,-3816.2,0.130276
27,2004-06-11 15:00:00,383.8,383.8,383.8,383.8,1,55.555556,50.000000,60.000000,0.085722,0.068615,0.017107,383.655,384.133924,383.176076,-3416.2,-3816.2,0.078166
28,2004-06-11 15:15:00,384.1,384.3,384.1,384.3,2,65.217391,66.666667,57.777778,0.117481,0.078403,0.039078,383.715,384.201772,383.228228,-3415.7,-3815.7,-0.052043
29,2004-06-11 15:30:00,384.3,384.3,384.1,384.1,4,60.000000,73.809524,63.492063,0.126385,0.088011,0.038373,383.740,384.252579,383.227421,-3415.9,-3815.9,0.000000
30,2004-06-11 15:45:00,384.6,384.6,384.6,384.6,2,66.666667,90.476190,76.984127,0.168443,0.104114,0.064330,383.790,384.425444,383.154556,-3415.4,-3815.4,-0.208008
31,2004-06-11 16:00:00,384.3,384.3,384.3,384.3,1,60.606061,80.476190,81.587302,0.177274,0.118757,0.058516,383.825,384.492675,383.157325,-3415.7,-3815.7,0.000000
32,2004-06-11 16:15:00,384.3,384.8,384.1,384.6,5,63.888889,83.333333,84.761905,0.204343,0.135885,0.068458,383.875,384.617329,383.132671,-3415.4,-3815.4,-0.130005
33,2004-06-11 16:30:00,384.3,384.3,384.1,384.3,6,58.974359,66.666667,76.825397,0.200811,0.148877,0.051934,383.910,384.663658,383.156342,-3415.7,-3815.7,0.000000
34,2004-06-11 16:45:00,384.3,384.3,384.1,384.3,7,63.888889,60.000000,70.000000,0.195734,0.158252,0.037482,383.945,384.703045,383.186955,-3415.7,-3815.7,0.000000
35,2004-06-11 17:00:00,384.1,384.1,384.1,384.1,1,57.142857,43.333333,56.666667,0.174469,0.161497,0.012973,383.970,384.712967,383.227033,-3415.9,-3815.9,0.052070
36,2004-06-11 17:15:00,384.1,384.1,384.1,384.1,2,54.545455,26.666667,43.333333,0.155825,0.160362,-0.004537,383.995,384.718951,383.271049,-3415.9,-3815.9,-0.130174
37,2004-06-11 17:30:00,384.3,384.3,384.1,384.1,2,46.428571,10.000000,26.666667,0.139445,0.156178,-0.016733,384.020,384.720676,383.319324,-3415.9,-3815.9,-0.130174
38,2004-06-11 17:45:00,383.8,383.8,383.8,383.8,1,46.428571,0.000000,12.222222,0.102187,0.145378,-0.043191,384.030,384.710866,383.349134,-3416.2,-3816.2,-0.130276

In [938]:
df3.describe()

,Date,Open,High,Low,Close,Volume,RSI,K_suavizado,Stoch_D,MACD,MACD_Sinal,hist,BB_media,BB_Superior,BB_Inferior,Dist_Sup,Dist_Res,Target
count,487932,487932.000000,487932.00000,487932.000000,487932.000000,487932.000000,487932.000000,487932.000000,487932.000000,487932.000000,487932.000000,487932.000000,487932.000000,487932.000000,487932.000000,487932.000000,487932.000000,487924.000000
mean,2015-04-06 09:27:45.842576384,1388.732792,1389.64276,1387.801996,1388.735166,865.611585,50.664308,51.410072,51.410203,0.050725,0.049545,0.001180,1388.661072,1392.898515,1384.423628,-2411.264834,-2811.264834,0.004465
min,2004-06-11 12:30:00,381.300000,381.60000,381.100000,381.300000,1.000000,0.000000,0.000000,0.000000,-23.501416,-21.941230,-7.472045,381.845000,382.583348,380.088274,-3418.700000,-3818.700000,-6.644856
25%,2009-12-21 18:26:15,1077.747500,1078.39000,1077.107500,1077.760000,190.000000,39.123242,29.123709,30.288118,-0.614876,-0.583590,-0.212196,1077.549125,1080.747252,1074.807033,-2722.240000,-3122.240000,-0.118962
50%,2015-05-08 10:07:30,1299.380000,1300.08000,1298.770000,1299.370000,617.000000,50.480096,51.793723,51.737247,0.044222,0.044239,-0.001836,1299.383000,1303.181560,1296.361717,-2500.630000,-2900.630000,0.002828
75%,2020-07-16 09:48:45,1741.190000,1742.38000,1739.890000,1741.180000,1165.000000,62.284517,73.908822,72.685185,0.743589,0.713155,0.208191,1740.711125,1746.705699,1735.493378,-2058.820000,-2458.820000,0.129953
max,2025-12-01 04:15:00,4254.980000,4256.34000,4245.900000,4255.040000,35966.000000,100.000000,100.000000,100.000000,161.473143,143.778596,70.129656,4055.701000,4609.982851,3647.889085,455.040000,55.040000,16.186795
std,NaN,590.029934,590.40792,589.643036,590.039566,1032.770059,16.364022,25.501900,24.314278,1.955888,1.794813,0.589769,589.917736,591.644046,588.229269,590.039566,590.039566,0.324970

In [939]:
df3 = df3.dropna()

In [940]:
df3.isna().sum()

Date           0
Open           0
High           0
Low            0
Close          0
Volume         0
RSI            0
K_suavizado    0
Stoch_D        0
MACD           0
MACD_Sinal     0
hist           0
BB_media       0
BB_Superior    0
BB_Inferior    0
Dist_Sup       0
Dist_Res       0
Target         0
dtype: int64

In [941]:
x1 = df3[[
         'MACD', 'MACD_Sinal', 'hist', 'BB_media', 'BB_Superior', 
         'BB_Inferior', 'Dist_Sup']]

y1 = df3['Target']

In [942]:
from sklearn.model_selection import train_test_split

x_train2, x_test2, y_train2, y_test2 = train_test_split(x1, y1, test_size = 0.30, random_state=0, shuffle=False)

In [943]:
from sklearn.ensemble import RandomForestRegressor


mod_arvore2 = RandomForestRegressor(max_depth=6, min_samples_leaf=100, n_estimators=100, random_state=42, n_jobs=-1)
mod_arvore2.fit(x_train2, y_train2)

RandomForestRegressor(max_depth=6, min_samples_leaf=100, n_jobs=-1,
                      random_state=42)

In [944]:
y_pred_test2 = mod_arvore2.predict(x_test2)

In [945]:
df3_aval = pd.DataFrame({'Real': y_test2, 'Previsto':y_pred_test2})
df3_aval

            Real  Previsto
341589  0.055376  0.022010
341590  0.042753  0.019614
341591  0.239566  0.002661
341592  0.287296  0.002661
341593 -0.015434  0.002661
...          ...       ...
487962  0.389395  0.125627
487963  0.419555  0.125627
487964  0.789013  0.125627
487965  0.598880  0.125627
487966  0.455629  0.125627

[146378 rows x 2 columns]

In [946]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test2, y_pred_test2))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test2, y_pred_test2)))

Mean Absolute Error: 0.20968029984511935
Root Mean Squared Error: 0.32518491458929094

In [947]:
print('MAE - Treinamento:', metrics.mean_absolute_error(y_train2, mod_arvore2.predict(x_train2)))
print('MAE - Teste:', metrics.mean_absolute_error(y_test2, y_pred_test2))

MAE - Treinamento: 0.20636013299493702
MAE - Teste: 0.20968029984511935

In [948]:

print(y_test2.mean())
print()
print('O percentual do MAE em relacao a media da base: ')
print(round(metrics.mean_absolute_error(y_test2, y_pred_test2)/y_test2.mean()*100,2))

0.006417001267658682

O percentual do MAE em relacao a media da base:
3267.57

In [949]:
df_modelo = pd.DataFrame({'Feature' : x1.columns, 'Importancia' : mod_arvore2.feature_importances_})

In [950]:
df_modelo
df_modelo.sort_values('Importancia', ascending=False)

       Feature  Importancia
2         hist     0.270084
1   MACD_Sinal     0.182698
0         MACD     0.163502
5  BB_Inferior     0.127495
3     BB_media     0.105003
4  BB_Superior     0.081541
6     Dist_Sup     0.069677

In [954]:
"""""from sklearn.tree import export_graphviz, plot_tree
import matplotlib.pyplot as plt 

plt.figure(figsize=(20,10))
plot_tree(mod_arvore2
          , feature_names = x.columns[0:9]
          , class_names=['0', '1']
          , rounded= True
          , filled = True
          , fontsize = 10)

plt.show()"""""

'""from sklearn.tree import export_graphviz, plot_tree\nimport matplotlib.pyplot as plt \n\nplt.figure(figsize=(20,10))\nplot_tree(mod_arvore2\n          , feature_names = x.columns[0:9]\n          , class_names=[\'0\', \'1\']\n          , rounded= True\n          , filled = True\n          , fontsize = 10)\n\nplt.show()'

In [955]:
df4 = df3
df4.head()

,Date,Open,High,Low,Close,Volume,RSI,K_suavizado,Stoch_D,MACD,MACD_Sinal,hist,BB_media,BB_Superior,BB_Inferior,Dist_Sup,Dist_Res,Target
19,2004-06-11 12:30:00,383.6,383.6,383.6,383.6,4,50.000000,29.292929,50.404040,0.035595,0.024366,0.011229,383.490,383.957468,383.022532,-3416.4,-3816.4,0.052138
20,2004-06-11 12:45:00,383.8,383.8,383.3,383.3,4,66.666667,11.111111,30.269360,0.015348,0.022545,-0.007197,383.465,383.915847,383.014153,-3416.7,-3816.7,0.260892
21,2004-06-11 13:00:00,383.6,383.6,383.6,383.6,3,75.000000,18.055556,19.486532,0.019613,0.021955,-0.002342,383.465,383.915847,383.014153,-3416.4,-3816.4,0.130344
22,2004-06-11 13:15:00,383.8,383.8,383.6,383.8,4,76.923077,33.333333,20.833333,0.036275,0.024836,0.011440,383.480,383.955062,383.004938,-3416.2,-3816.2,0.208442
23,2004-06-11 13:30:00,383.6,384.3,383.6,384.3,4,76.923077,66.666667,39.351852,0.083162,0.036556,0.046606,383.520,384.120351,382.919649,-3415.7,-3815.7,0.000000

In [956]:
df4['Mudanca'] = df4['Close'].diff(10).abs()

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_42700\463634134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Mudanca'] = df4['Close'].diff(10).abs()

In [957]:
df4.head()

,Date,Open,High,Low,Close,Volume,RSI,K_suavizado,Stoch_D,MACD,MACD_Sinal,hist,BB_media,BB_Superior,BB_Inferior,Dist_Sup,Dist_Res,Target,Mudanca
19,2004-06-11 12:30:00,383.6,383.6,383.6,383.6,4,50.000000,29.292929,50.404040,0.035595,0.024366,0.011229,383.490,383.957468,383.022532,-3416.4,-3816.4,0.052138,NaN
20,2004-06-11 12:45:00,383.8,383.8,383.3,383.3,4,66.666667,11.111111,30.269360,0.015348,0.022545,-0.007197,383.465,383.915847,383.014153,-3416.7,-3816.7,0.260892,NaN
21,2004-06-11 13:00:00,383.6,383.6,383.6,383.6,3,75.000000,18.055556,19.486532,0.019613,0.021955,-0.002342,383.465,383.915847,383.014153,-3416.4,-3816.4,0.130344,NaN
22,2004-06-11 13:15:00,383.8,383.8,383.6,383.8,4,76.923077,33.333333,20.833333,0.036275,0.024836,0.011440,383.480,383.955062,383.004938,-3416.2,-3816.2,0.208442,NaN
23,2004-06-11 13:30:00,383.6,384.3,383.6,384.3,4,76.923077,66.666667,39.351852,0.083162,0.036556,0.046606,383.520,384.120351,382.919649,-3415.7,-3815.7,0.000000,NaN

In [958]:
df4.isna().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
RSI             0
K_suavizado     0
Stoch_D         0
MACD            0
MACD_Sinal      0
hist            0
BB_media        0
BB_Superior     0
BB_Inferior     0
Dist_Sup        0
Dist_Res        0
Target          0
Mudanca        10
dtype: int64

In [959]:
df4['volatilidade'] = df4['Close'].diff(1).abs().rolling(10).sum()

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_42700\1448346991.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['volatilidade'] = df4['Close'].diff(1).abs().rolling(10).sum()

In [960]:
df4.isna().sum()

Date             0
Open             0
High             0
Low              0
Close            0
Volume           0
RSI              0
K_suavizado      0
Stoch_D          0
MACD             0
MACD_Sinal       0
hist             0
BB_media         0
BB_Superior      0
BB_Inferior      0
Dist_Sup         0
Dist_Res         0
Target           0
Mudanca         10
volatilidade    10
dtype: int64

In [961]:
df4['ER'] = (df4['Mudanca']) / (df4['volatilidade'])

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_42700\1049414850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['ER'] = (df4['Mudanca']) / (df4['volatilidade'])

In [962]:
df4['ER'] = df4['ER'].clip(0, 1)

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_42700\4006200848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['ER'] = df4['ER'].clip(0, 1)

In [964]:
df4.head(30)

,Date,Open,High,Low,Close,Volume,RSI,K_suavizado,Stoch_D,MACD,...,hist,BB_media,BB_Superior,BB_Inferior,Dist_Sup,Dist_Res,Target,Mudanca,volatilidade,ER
19,2004-06-11 12:30:00,383.6,383.6,383.6,383.6,4,50.000000,29.292929,50.404040,0.035595,...,0.011229,383.490,383.957468,383.022532,-3416.4,-3816.4,0.052138,NaN,NaN,NaN
20,2004-06-11 12:45:00,383.8,383.8,383.3,383.3,4,66.666667,11.111111,30.269360,0.015348,...,-0.007197,383.465,383.915847,383.014153,-3416.7,-3816.7,0.260892,NaN,NaN,NaN
21,2004-06-11 13:00:00,383.6,383.6,383.6,383.6,3,75.000000,18.055556,19.486532,0.019613,...,-0.002342,383.465,383.915847,383.014153,-3416.4,-3816.4,0.130344,NaN,NaN,NaN
22,2004-06-11 13:15:00,383.8,383.8,383.6,383.8,4,76.923077,33.333333,20.833333,0.036275,...,0.011440,383.480,383.955062,383.004938,-3416.2,-3816.2,0.208442,NaN,NaN,NaN
23,2004-06-11 13:30:00,383.6,384.3,383.6,384.3,4,76.923077,66.666667,39.351852,0.083162,...,0.046606,383.520,384.120351,382.919649,-3415.7,-3815.7,0.000000,NaN,NaN,NaN
24,2004-06-11 13:45:00,384.1,384.3,384.0,384.0,4,62.500000,77.500000,59.166667,0.097793,...,0.048943,383.565,384.167713,382.962287,-3416.0,-3816.0,0.156250,NaN,NaN,NaN
25,2004-06-11 14:30:00,383.8,383.8,383.8,383.8,2,55.555556,73.333333,72.500000,0.093994,...,0.036087,383.575,384.186727,382.963273,-3416.2,-3816.2,0.130276,NaN,NaN,NaN
26,2004-06-11 14:45:00,383.8,383.8,383.8,383.8,2,55.555556,56.666667,69.166667,0.089935,...,0.025607,383.615,384.170451,383.059549,-3416.2,-3816.2,0.130276,NaN,NaN,NaN
27,2004-06-11 15:00:00,383.8,383.8,383.8,383.8,1,55.555556,50.000000,60.000000,0.085722,...,0.017107,383.655,384.133924,383.176076,-3416.2,-3816.2,0.078166,NaN,NaN,NaN
28,2004-06-11 15:15:00,384.1,384.3,384.1,384.3,2,65.217391,66.666667,57.777778,0.117481,...,0.039078,383.715,384.201772,383.228228,-3415.7,-3815.7,-0.052043,NaN,NaN,NaN
29,2004-06-11 15:30:00,384.3,384.3,384.1,384.1,4,60.000000,73.809524,63.492063,0.126385,...,0.038373,383.740,384.252579,383.227421,-3415.9,-3815.9,0.000000,0.5,2.5,0.200000
30,2004-06-11 15:45:00,384.6,384.6,384.6,384.6,2,66.666667,90.476190,76.984127,0.168443,...,0.064330,383.790,384.425444,383.154556,-3415.4,-3815.4,-0.208008,1.3,2.7,0.481481
31,2004-06-11 16:00:00,384.3,384.3,384.3,384.3,1,60.606061,80.476190,81.587302,0.177274,...,0.058516,383.825,384.492675,383.157325,-3415.7,-3815.7,0.000000,0.7,2.7,0.259259
32,2004-06-11 16:15:00,384.3,384.8,384.1,384.6,5,63.888889,83.333333,84.761905,0.204343,...,0.068458,383.875,384.617329,383.132671,-3415.4,-3815.4,-0.130005,0.8,2.8,0.285714
33,2004-06-11 16:30:00,384.3,384.3,384.1,384.3,6,58.974359,66.666667,76.825397,0.200811,...,0.051934,383.910,384.663658,383.156342,-3415.7,-3815.7,0.000000,0.0,2.6,0.000000
34,2004-06-11 16:45:00,384.3,384.3,384.1,384.3,7,63.888889,60.000000,70.000000,0.195734,...,0.037482,383.945,384.703045,383.186955,-3415.7,-3815.7,0.000000,0.3,2.3,0.130435
35,2004-06-11 17:00:00,384.1,384.1,384.1,384.1,1,57.142857,43.333333,56.666667,0.174469,...,0.012973,383.970,384.712967,383.227033,-3415.9,-3815.9,0.052070,0.3,2.3,0.130435
36,2004-06-11 17:15:00,384.1,384.1,384.1,384.1,2,54.545455,26.666667,43.333333,0.155825,...,-0.004537,383.995,384.718951,383.271049,-3415.9,-3815.9,-0.130174,0.3,2.3,0.130435
37,2004-06-11 17:30:00,384.3,384.3,384.1,384.1,2,46.428571,10.000000,26.666667,0.139445,...,-0.016733,384.020,384.720676,383.319324,-3415.9,-3815.9,-0.130174,0.3,2.3,0.130435
38,2004-06-11 17:45:00,383.8,383.8,383.8,383.8,1,46.428571,0.000000,12.222222,0.102187,...,-0.043191,384.030,384.710866,383.349134,-3416.2,-3816.2,-0.130276,0.5,2.1,0.238095
39,2004-06-11 18:30:00,384.3,384.3,384.3,384.3,2,58.064516,16.666667,8.888889,0.110047,...,-0.028264,384.065,384.724426,383.405574,-3415.7,-3815.7,-0.442363,0.2,2.4,0.083333
40,2004-06-11 18:45:00,384.1,384.1,384.1,384.1,1,54.545455,26.666667,14.444444,0.099609,...,-0.030960,384.105,384.657411,383.552589,-3415.9,-3815.9,-0.286384,0.5,2.1,0.238095
41,2004-06-14 01:00:00,384.3,384.5,384.3,384.3,4,57.142857,50.476190,31.269841,0.105669,...,-0.019920,384.140,384.644297,383.635703,-3415.7,-3815.7,-0.468384,0.0,2.0,0.000000
42,2004-06-14 01:15:00,384.3,384.3,384.3,384.3,1,50.000000,57.619048,44.920635,0.109203,...,-0.013109,384.165,384.647428,383.682572,-3415.7,-3815.7,-0.520427,0.3,1.7,0.176471
43,2004-06-14 01:30:00,384.3,384.3,384.3,384.3,3,53.571429,71.428571,59.841270,0.110719,...,-0.009274,384.165,384.647428,383.682572,-3415.7,-3815.7,-0.442363,0.0,1.4,0.000000
44,2004-06-14 01:45:00,384.3,384.5,383.6,383.6,4,33.333333,47.619048,58.888889,0.056416,...,-0.050861,384.145,384.685857,383.604143,-3416.4,-3816.4,-0.260688,0.7,2.1,0.333333
45,2004-06-14 02:00:00,384.3,384.3,382.6,383.6,20,37.037037,41.353383,53.467001,0.013247,...,-0.075224,384.135,384.709090,383.560910,-3416.4,-3816.4,-0.208551,0.5,1.9,0.263158
46,2004-06-14 02:15:00,383.3,383.6,382.8,383.3,15,25.925926,29.824561,39.598997,-0.044048,...,-0.106014,384.110,384.780899,383.439101,-3416.7,-3816.7,-0.078268,0.8,2.2,0.363636
47,2004-06-14 02:30:00,382.8,383.3,382.6,382.6,10,22.580645,29.824561,33.667502,-0.142969,...,-0.163947,384.050,384.995905,383.104095,-3417.4,-3817.4,0.104548,1.5,2.9,0.517241
48,2004-06-14 02:45:00,382.8,383.0,382.3,383.0,15,31.428571,22.886762,27.511962,-0.187580,...,-0.166846,383.985,385.031850,382.938150,-3417.0,-3817.0,0.000000,0.8,3.0,0.266667

In [965]:
fast_sc = 2 / (2 + 1)
slow_sc = 2 / (30 + 1)

In [966]:
df4['SC'] = (df4['ER'] * (fast_sc - slow_sc) + (slow_sc))**2

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_42700\1769354901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['SC'] = (df4['ER'] * (fast_sc - slow_sc) + (slow_sc))**2

In [967]:
df4.head(50)

,Date,Open,High,Low,Close,Volume,RSI,K_suavizado,Stoch_D,MACD,...,BB_media,BB_Superior,BB_Inferior,Dist_Sup,Dist_Res,Target,Mudanca,volatilidade,ER,SC
19,2004-06-11 12:30:00,383.6,383.6,383.6,383.6,4,50.000000,29.292929,50.404040,0.035595,...,383.490,383.957468,383.022532,-3416.4,-3816.4,0.052138,NaN,NaN,NaN,NaN
20,2004-06-11 12:45:00,383.8,383.8,383.3,383.3,4,66.666667,11.111111,30.269360,0.015348,...,383.465,383.915847,383.014153,-3416.7,-3816.7,0.260892,NaN,NaN,NaN,NaN
21,2004-06-11 13:00:00,383.6,383.6,383.6,383.6,3,75.000000,18.055556,19.486532,0.019613,...,383.465,383.915847,383.014153,-3416.4,-3816.4,0.130344,NaN,NaN,NaN,NaN
22,2004-06-11 13:15:00,383.8,383.8,383.6,383.8,4,76.923077,33.333333,20.833333,0.036275,...,383.480,383.955062,383.004938,-3416.2,-3816.2,0.208442,NaN,NaN,NaN,NaN
23,2004-06-11 13:30:00,383.6,384.3,383.6,384.3,4,76.923077,66.666667,39.351852,0.083162,...,383.520,384.120351,382.919649,-3415.7,-3815.7,0.000000,NaN,NaN,NaN,NaN
24,2004-06-11 13:45:00,384.1,384.3,384.0,384.0,4,62.500000,77.500000,59.166667,0.097793,...,383.565,384.167713,382.962287,-3416.0,-3816.0,0.156250,NaN,NaN,NaN,NaN
25,2004-06-11 14:30:00,383.8,383.8,383.8,383.8,2,55.555556,73.333333,72.500000,0.093994,...,383.575,384.186727,382.963273,-3416.2,-3816.2,0.130276,NaN,NaN,NaN,NaN
26,2004-06-11 14:45:00,383.8,383.8,383.8,383.8,2,55.555556,56.666667,69.166667,0.089935,...,383.615,384.170451,383.059549,-3416.2,-3816.2,0.130276,NaN,NaN,NaN,NaN
27,2004-06-11 15:00:00,383.8,383.8,383.8,383.8,1,55.555556,50.000000,60.000000,0.085722,...,383.655,384.133924,383.176076,-3416.2,-3816.2,0.078166,NaN,NaN,NaN,NaN
28,2004-06-11 15:15:00,384.1,384.3,384.1,384.3,2,65.217391,66.666667,57.777778,0.117481,...,383.715,384.201772,383.228228,-3415.7,-3815.7,-0.052043,NaN,NaN,NaN,NaN
29,2004-06-11 15:30:00,384.3,384.3,384.1,384.1,4,60.000000,73.809524,63.492063,0.126385,...,383.740,384.252579,383.227421,-3415.9,-3815.9,0.000000,0.5,2.5,0.200000,0.034205
30,2004-06-11 15:45:00,384.6,384.6,384.6,384.6,2,66.666667,90.476190,76.984127,0.168443,...,383.790,384.425444,383.154556,-3415.4,-3815.4,-0.208008,1.3,2.7,0.481481,0.125628
31,2004-06-11 16:00:00,384.3,384.3,384.3,384.3,1,60.606061,80.476190,81.587302,0.177274,...,383.825,384.492675,383.157325,-3415.7,-3815.7,0.000000,0.7,2.7,0.259259,0.048677
32,2004-06-11 16:15:00,384.3,384.8,384.1,384.6,5,63.888889,83.333333,84.761905,0.204343,...,383.875,384.617329,383.132671,-3415.4,-3815.4,-0.130005,0.8,2.8,0.285714,0.055960
33,2004-06-11 16:30:00,384.3,384.3,384.1,384.3,6,58.974359,66.666667,76.825397,0.200811,...,383.910,384.663658,383.156342,-3415.7,-3815.7,0.000000,0.0,2.6,0.000000,0.004162
34,2004-06-11 16:45:00,384.3,384.3,384.1,384.3,7,63.888889,60.000000,70.000000,0.195734,...,383.945,384.703045,383.186955,-3415.7,-3815.7,0.000000,0.3,2.3,0.130435,0.020465
35,2004-06-11 17:00:00,384.1,384.1,384.1,384.1,1,57.142857,43.333333,56.666667,0.174469,...,383.970,384.712967,383.227033,-3415.9,-3815.9,0.052070,0.3,2.3,0.130435,0.020465
36,2004-06-11 17:15:00,384.1,384.1,384.1,384.1,2,54.545455,26.666667,43.333333,0.155825,...,383.995,384.718951,383.271049,-3415.9,-3815.9,-0.130174,0.3,2.3,0.130435,0.020465
37,2004-06-11 17:30:00,384.3,384.3,384.1,384.1,2,46.428571,10.000000,26.666667,0.139445,...,384.020,384.720676,383.319324,-3415.9,-3815.9,-0.130174,0.3,2.3,0.130435,0.020465
38,2004-06-11 17:45:00,383.8,383.8,383.8,383.8,1,46.428571,0.000000,12.222222,0.102187,...,384.030,384.710866,383.349134,-3416.2,-3816.2,-0.130276,0.5,2.1,0.238095,0.043216
39,2004-06-11 18:30:00,384.3,384.3,384.3,384.3,2,58.064516,16.666667,8.888889,0.110047,...,384.065,384.724426,383.405574,-3415.7,-3815.7,-0.442363,0.2,2.4,0.083333,0.013155
40,2004-06-11 18:45:00,384.1,384.1,384.1,384.1,1,54.545455,26.666667,14.444444,0.099609,...,384.105,384.657411,383.552589,-3415.9,-3815.9,-0.286384,0.5,2.1,0.238095,0.043216
41,2004-06-14 01:00:00,384.3,384.5,384.3,384.3,4,57.142857,50.476190,31.269841,0.105669,...,384.140,384.644297,383.635703,-3415.7,-3815.7,-0.468384,0.0,2.0,0.000000,0.004162
42,2004-06-14 01:15:00,384.3,384.3,384.3,384.3,1,50.000000,57.619048,44.920635,0.109203,...,384.165,384.647428,383.682572,-3415.7,-3815.7,-0.520427,0.3,1.7,0.176471,0.029165
43,2004-06-14 01:30:00,384.3,384.3,384.3,384.3,3,53.571429,71.428571,59.841270,0.110719,...,384.165,384.647428,383.682572,-3415.7,-3815.7,-0.442363,0.0,1.4,0.000000,0.004162
44,2004-06-14 01:45:00,384.3,384.5,383.6,383.6,4,33.333333,47.619048,58.888889,0.056416,...,384.145,384.685857,383.604143,-3416.4,-3816.4,-0.260688,0.7,2.1,0.333333,0.070349
45,2004-06-14 02:00:00,384.3,384.3,382.6,383.6,20,37.037037,41.353383,53.467001,0.013247,...,384.135,384.709090,383.560910,-3416.4,-3816.4,-0.208551,0.5,1.9,0.263158,0.049719
46,2004-06-14 02:15:00,383.3,383.6,382.8,383.3,15,25.925926,29.824561,39.598997,-0.044048,...,384.110,384.780899,383.439101,-3416.7,-3816.7,-0.078268,0.8,2.2,0.363636,0.080361
47,2004-06-14 02:30:00,382.8,383.3,382.6,382.6,10,22.580645,29.824561,33.667502,-0.142969,...,384.050,384.995905,383.104095,-3417.4,-3817.4,0.104548,1.5,2.9,0.517241,0.141356
48,2004-06-14 02:45:00,382.8,383.0,382.3,383.0,15,31.428571,22.886762,27.511962,-0.187580,...,383.985,385.031850,382.938150,-3417.0,-3817.0,0.000000,0.8,3.0,0.266667,0.050665
49,2004-06-14 03:00:00,382.8,383.3,382.5,382.5,21,28.947368,13.636364,22.115896,-0.259473,...,383.905,385.142102,382.667898,-3417.5,-3817.5,0.078431,1.8,3.0,0.600000,0.181311
50,2004-06-14 03:15:00,382.3,382.6,382.3,382.3,8,27.500000,13.636364,16.719830,-0.328479,...,383.790,385.173968,382.406032,-3417.7,-3817.7,0.130787,1.8,3.0,0.600000,0.181311
51,2004-06-14 03:30:00,382.5,383.1,382.3,382.6,15,32.558140,7.575758,11.616162,-0.355249,...,383.705,385.163875,382.246125,-3417.4,-3817.4,0.104548,1.7,3.1,0.548387,0.155810
52,2004-06-14 03:45:00,382.6,383.1,382.6,382.6,8,35.000000,9.090909,10.101010,-0.372159,...,383.605,385.079663,382.130337,-3417.4,-3817.4,0.104548,1.7,3.1,0.548387,0.155810
53,2004-06-14 04:00:00,382.6,383.3,382.6,382.8,13,29.729730,17.424242,11.363636,-0.365432,...,383.530,385.008406,382.051594,-3417.2,-3817.2,0.078370,1.5,3.3,0.454545,0.114393
54,2004-06-14 04:15:00,382.6,383.3,382.6,383.0,17,35.135135,30.827506,19.114219,-0.340249,...,383.465,384.914900,382.015100,-3417.0,-3817.0,-0.104439,0.6,2.8,0.214286,0.037461
55,2004-06-14 04:30:00,383.1,383.3,382.8,383.0,10,31.428571,49.615385,32.622378,-0.316637,...,383.410,384.841819,381.978181,-3417.0,-3817.0,-0.052219,0.6,2.8,0.214286,0.037461
56,2004-06-14 04:45:00,383.1,383.1,383.0,383.0,6,31.428571,64.615385,48.352758,-0.294526,...,383.355,384.759467,381.950533,-3417.0,-3817.0,-0.052219,0.3,2.5,0.120000,0.018707
57,2004-06-14 05:00:00,382.8,382.8,382.8,382.8,1,29.729730,63.333333,59.188034,-0.289627,...,383.290,384.669397,381.910603,-3417.2,-3817.2,-0.130617,0.2,2.0,0.100000,0.015558
58,2004-06-14 05:15:00,383.3,383.3,382.8,382.8,5,36.666667,56.666667,61.538462,-0.282483,...,383.240,384.614045,381.865955,-3417.2,-3817.2,0.000000,0.2,1.6,0.125000,0.019540
59,2004-06-14 05:30:00,382.8,383.0,382.8,383.0,3,40.625000,56.666667,58.888889,-0.257855,...,383.175,384.457883,381.892117,-3417.0,-3817.0,-0.104439,0.5,1.3,0.384615,0.087683
60,2004-06-14 05:45:00,382.8,383.3,382.8,383.0,8,44.827586,59.047619,57.460317,-0.235619,...,383.120,384.328043,381.911957,-3417.0,-3817.0,-0.104439,0.7,1.1,0.636364,0.200438
61,2004-06-14 06:00:00,382.8,383.3,382.6,383.1,16,60.869565,66.190476,60.634921,-0.207597,...,383.060,384.132920,381.987080,-3416.9,-3816.9,-0.156617,0.5,0.9,0.555556,0.159236
62,2004-06-14 06:15:00,382.6,383.1,382.6,382.6,12,41.666667,42.857143,56.031746,-0.222871,...,382.975,383.892376,382.057624,-3417.4,-3817.4,-0.026137,0.0,1.4,0.000000,0.004162
63,2004-06-14 06:30:00,382.8,383.1,382.5,382.8,6,57.142857,36.309524,48.452381,-0.216448,...,382.900,383.574342,382.225658,-3417.2,-3817.2,-0.078370,0.0,1.4,0.000000,0.004162
64,2004-06-14 06:45:00,382.6,382.8,382.5,382.8,6,63.157895,25.000000,34.722222,-0.208947,...,382.860,383.449022,382.270978,-3417.2,-3817.2,-0.130617,0.2,1.2,0.166667,0.027184
65,2004-06-14 07:00:00,383.1,383.1,382.3,382.3,7,42.857143,25.000000,28.769841,-0.240342,...,382.795,383.324051,382.265949,-3417.7,-3817.7,0.052315,0.7,1.7,0.411765,0.097632
66,2004-06-14 07:15:00,382.3,383.0,382.3,382.8,17,53.846154,29.166667,26.388889,-0.222524,...,382.770,383.242841,382.297159,-3417.2,-3817.2,0.000000,0.2,2.2,0.090909,0.014222
67,2004-06-14 07:30:00,383.0,383.3,382.6,382.6,6,46.153846,26.666667,26.944444,-0.221903,...,382.770,383.242841,382.297159,-3417.4,-3817.4,-0.130685,0.2,2.2,0.090909,0.014222
68,2004-06-14 07:45:00,382.6,382.6,382.6,382.6,6,41.666667,36.666667,30.833333,-0.218885,...,382.750,383.215663,382.284337,-3417.4,-3817.4,-0.078411,0.2,2.2,0.090909,0.014222